@use "../../assets/sass/variables" as *;

.ticket-tiles-container {
  // display: grid;
  // // gap: 25px 100px;
  // grid-template-columns: repeat(5, 1fr);
  display: grid;
  margin: 0 2rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  // grid-template-rows: 3rem auto;
}
