@use "../../assets/sass/variables" as *;

.counter-tile {
  .counter-tile__heading {
    font-size: 24px;
  }

  .counter-tile__display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 4rem;
    border: 6px solid $color-primary;
    font-size: 25px;
  }

  .counter-tile__button {
    background-color: #ff7823;
    border: 3px solid $color-black;
    padding: 0.8rem;
    color: rgba($color-black, 0.35);
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-secondary;
    }
  }
}
