@use "./assets/sass/_variables.scss" as *;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body {
 
  display: grid;
  font-family:"Open Sans",Arial, sans-serif;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin: 40px auto;
  max-width: 800px;
  width: 100%;

  div {
    border: 2px solid #efefef;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    padding: 2px;
    text-align: center;
  }
} */
